@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{ /*Variaveis globais*/
    --paragraph-font: "DM Sans", sans-serif;
    --paragraph-font-size: 1.5rem;
    --title-font-size: 3rem;

    --background-color: rgb(26, 27, 28);
    --font-color: rgba(223, 223, 223, 1);
    --highlight-color: rgba(254, 199, 106, 1);
    --shadow-color: rgba(254, 199, 106, 1);
    --hover-color: rgba(61, 62, 66, 1);
    --rectangles-background: rgba(38, 39, 40, 1);
    --icon-filter: brightness(0) invert();
    --gradient-color: rgba(26, 27, 28, 1);
    --icon-color: rgba(255,255,255);
    
}

.light:root{
    --background-color: rgba(239, 235, 235, 1);
    --font-color: rgba(61, 62, 66, 1);
    --highlight-color: rgba(21, 70, 155, 1);
    --shadow-color: rgba(31, 135, 255, 1);
    --hover-color: rgba(255, 255, 255, 1);
    --rectangles-background: rgba(255, 255, 255, 1);
    --icon-filter: brightness(.1);
    --gradient-color: rgba(26, 27, 28, 1);

    --icon-color: rgb(2, 7, 16);
}
    
html{ /*Suaviza o movimento ativado pelas ancoras de navegação*/
    scroll-behavior: smooth;
}

body{ /*Corpo do site*/
    box-sizing: border-box;
    background-color: var(--background-color);

    transition: all .5s ease;
}

h1{ /*Título*/
    color: var(--highlight-color);
    font-family: var(--paragraph-font);
    font-size: var(--title-font-size);
    font-weight: 700;

    transition: .5s ease;
}

h2{ /*Subtítulo*/
    color: var(--font-color);
    font-family: var(--paragraph-font);
    font-size: var(--title-font-size);
    font-weight: 700;
    text-align: center;

    transition: .5s ease;
}

h3{ /*Subtítulo*/
    color: var(--font-color);
    font-family: var(--paragraph-font);
    font-weight: 800;

    text-align: center;
    font-size: var(--paragraph-font-size);
    line-height: normal;
    transition: .5s ease;
}

p { /*Parágrafo*/
    color: var(--font-color);
    font-family: var(--paragraph-font);
    font-weight: 600;

    text-align: left;
    font-size: var(--paragraph-font-size);
    line-height: normal;
    transition: .5s ease;
}

strong{ /*Destaque para negrito*/
    text-shadow: var(--shadow-color) 0px 0px 2px;
    color: var(--highlight-color);
    transition: .5s ease;
}

.light.highlight_icon{
    filter: invert();
    transition: .5s ease;
}

.icon{
    filter: var(--icon-filter);
    transition: .5s ease;
}

.icon:hover{
    filter: var(--icon-filter) drop-shadow(var(--shadow-color) 0px 0px 3px);
    transition: .3s ease;
}

#mouse__icon{
    transition: 0s;
}

/*Cabeçalho*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: fit-content;

    background-color: rgba(var(--background-color), 0.8); /* Aplica transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    transition: .5s ease;
}
.header__logo{ /*Logo do cabeçalho*/
    width: 2em;
    height: 2em;
    margin: 1em 0em;
}
.header__menu{ /*Menu do cabeçalho*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 6.25vw;
}
.header__menu__link__text:hover{ /*HOVER: Cor para links de navegação do cabeçalho*/
    color: var(--highlight-color);
    text-shadow: var(--shadow-color) 0px 0px 1px;
    color: var(--shadow-color);
    transition: .5s ease;
}
.header__bottomBar{
    position: absolute;
    bottom: 0;
    left: 0;
}
.header__bottomBar__progressBar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--highlight-color);
    box-shadow: var(--shadow-color) 0px 0px 3px;
}
.header__bottomBar__backgroundBar{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 3px;
    background-color: var(--font-color);
    opacity: 0.1;
}
.header__hamburgerMenu{
    display: none;
}

/*Seção de introdução*/
.main__presentation{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4vh 15vw;
    gap: 30vw;

    background-image: url(/assets/background-image.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.main__presentation__contact{ /*Atalhos para contato*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding-left: 1.5em;
    border-left: 8px solid var(--highlight-color);
    height: fit-content;
    margin-top: 30%;

    transition: .5s ease;
}
.main__presentation__contact__icon{
    height: 6vh;
}

.main__presentation__description{ /*Informações da seção de introdução*/
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 15em;
    width: 34em;
}
.main__presentation__description__name{ /*Nome*/
    color: var(--font-color);
    font-family: var(--paragraph-font);
    font-size: var(--title-font-size);
    font-weight: 700;

    transition: .5s ease;
}
.main__presentation__description__contact{ /*Botão de convidativo para contato*/
    color: var(--highlight-color);
    font-family: var(--paragraph-font);
    text-decoration: none;
    text-align: center;
    font-size: var(--paragraph-font-size);
    font-weight: 600;

    width: fit-content;
    padding: 0.8em 1.5em;
    border: 5px solid var(--highlight-color);
    border-radius: 12px;
    background-color: rgba(var(--background-color), 0.9); /* Aplica transparencia */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    transition: .5s ease;
}
.main__presentation__description__contact:hover{ /*HOVER: Cor e brilho para botão de contato*/
    color: var(--font-color);
    border: 5px solid var(--font-color);
    text-shadow: var(--highlight-color) 0px 0px 2px;
    box-shadow: var(--highlight-color) 0px 0px 4px;

    transition: .5s ease;
}

/*Seção sobre*/
.main__about{ 
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 10vh 7vw 0;
    gap: 1em;
}
.main__about__content{ /*Conteudos da seção sobre*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.25em;
}
.main__about__content__rectangle{ /*Retangulo da seção sobre*/
    width: 15em;
    height: 1em;
    border-bottom: 6px solid var(--highlight-color);

    transition: .5s ease;
}
.main__about__content__text{ /*Paragrafos da seção sobre*/
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/*Seção de habilidades*/
.main__skills{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 10vh 0 0;
    gap: 1em;
}
.main__skills__content{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7vw 0;
    gap: 2em;
    position: relative;
}
.main__skills__content__rectangles{ /*Bloco de retangulos*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 1.25em;
}

.main__skills__content__gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--background-color) 5%, rgba(255,255,255,0) 50%, var(--background-color) 95%);
    transition: all 3s ease;
}

.main__skills__content__rectangle{ /*Retangulo*/
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
    padding: 1em 20vh;
    height: fit-content;
    width: fit-content;

    background-color: var(--hover-color);
    border-radius: 1.5em;

    transition: all .5s ease;
}
.main__skills__content__rectangle__icon{
    filter: invert(0);
    height: 30%;
}
.main__skills__content__rectangle__text{
    filter: invert(0);
}


/*Seção de certificados*/
.main__certificates{ 
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 10vh 7vw 0;
    gap: 1em;
}
.main__certificates__content{ /*Bloco da seção de certificados*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1.25em;
}
.main__certificates__content__rectangle{ /*Retangulo*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 1;

    gap: 1.25em;
    min-width: 30vw;
    padding: 1em;
    
    background-color: var(--rectangles-background);
    border-radius: 1em;

    color: var(--font-color);
    font-family: var(--paragraph-font);
    font-weight: 700;

    text-align: left;
    font-size: var(--paragraph-font-size);

    transition: .5s ease;
}
.main__certificates__content__rectangle:hover{ /*HOVER: Retangulo*/
    color: var(--highlight-color);
    background-color: var(--hover-color);
    transition: all ease-in-out .3s;

    transition: .5s ease;
}
.main__certificates__content__rectangle__icon{
    height: fit-content;
}

/*Seção de projetos*/
.main__projects{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 10vh 7vw 0;
    gap: 2em;
}
.main__projects__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
}
.main__projects__content__rectangle {
    display: flex;
    flex-direction: column;
    
    gap: 1.25em;
    width: 30vw;
    flex: 1;

    background-color: var(--rectangles-background);
    border-radius: 1.5em;

    transition: .5s ease;
}
.main__projects__content__rectangle:hover{
    filter: drop-shadow(var(--highlight-color) 0px 0px 2px);
    background-color: var(--hover-color);

    transition: .5s ease;
}
.main__projects__content__rectangle__img{
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}
.main__projects__content__rectangle__header{
    display: flex;
    flex-direction: row;
    padding: 0em 2em;
    gap: 1em;
}
.main__projects__content__rectangle__header__icon{
    height: auto;
}
.main__projects__content__rectangle__header__text{
    font-size: 1.25rem;
}
.main__projects__content__rectangle__description{
    font-size: 1rem;
    padding: 0em 1.5em 1.5em 1.5em;
}


/*Seção de contato*/
.main__contact{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 10vh 7vw 0;
    gap: 2em;

    height: 40vh;
}
.main__contact__content{ /*Bloco da seção de contato*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5em;
}
.main__contact__content__link{ /*Link da seção de contato*/
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 1.5em;
}

/*Rodapé do site*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 40vh;

    background: linear-gradient(180deg, rgba(26, 27, 28, 0.00) 0%, var(--shadow-color) 100%);
    background-repeat: no-repeat;
    transition: .5s ease;
    padding: 5vh 0;
}
.footer__content{ /*Conteúdo do rodapé do site*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4em 4em 0em 4em;
    gap: 1em;
}
.footer__content__title{
    color: var(--background-color);
    transition: .5s ease;
}
.footer__content__link{ /*Link do rodapé (FIGMA)*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
    color: var(--background-color);
    font-family: var(--paragraph-font);
    font-weight: 600;

    font-size: 1rem;
    text-align: center;
    transition: .5s ease;
}
.footer__content__link__icon{
    filter: brightness(0);
    transition: .5s ease;
}
.light.footer__content__link__icon{
    filter: brightness(0) invert();
    transition: .5s ease;
}

/* For Mobile devices */
@media (max-width: 480px) {
    :root{
        --paragraph-font-size: .5em;
        --title-font-size: 1.5rem;
    }

    .main__certificates__content__rectangle{
        height: 4em;
    }

}

/* For Tablets or iPad*/
@media (max-width: 768px) {
    :root{
        --paragraph-font-size: 1.25rem;
        --title-font-size: 3rem;
    }

    .header__menu__link{
        display: none;
    }

    .header__hamburgerMenu{
        display: block;
    }

    .main__presentation__description{
        margin-right: 0;
        width: 100%;
        height: fit-content;
    }

    .main__projects__content__rectangle{
        width: 100%;
    }

    .main__contact{
        height: fit-content;
    }
    .main__contact__content__link{
        gap:2vw;
    }
    .contact__img{
        width: 5vw;
    }
}

/* For Laptop or small-size screen*/
@media (max-width: 1024px) {
    :root{
        --paragraph-font-size: 1.5rem;
        --title-font-size: 3rem;
    }

    .header__hamburgerMenu{
        display: none;
    }
    .main__presentation{
        flex-direction: column-reverse;
        padding: 0 10vw;
        gap: 20vh;
    }
    .main__presentation__contact{
        margin-top: 0;
        margin-left: auto;
        padding-left: 0em;
        border-left: 0;
        padding-right: 1.5em;
        border-right: 8px solid var(--highlight-color);
    }
    .main__presentation__description{
        margin-top: 0;
        margin-right: auto;
    }
    .main__certificates__content{
        flex-direction: column;
    }

    .main__certificates__content__rectangle{
        width: 100%;
    }
}